body {
	text-align:center;
	background: url(images/main_sub_back.jpg);
	background-position: center;
	background-color: #e3e5e5;

	font-family: "Bree Serif","Helvetica","Arial", serif;
}

#main {
	width:100%;
	float:center;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

#word_cloud {
	text-align: center;
	width: 500px; 
	height: 300px; 
	border: 0px solid #ccc;
}

#explore {
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

#explore-bar {
	width:70%;
	min-width:600px;
	text-align: left;
	margin-left:auto;
	margin-right:auto;
}

#explore-button {
	margin-top:5px;
	margin-left:auto;
	margin-right:auto;
}

#explore-horizontal {
	display: inline-block;
	margin-left:auto;
	margin-right:auto;
}

#explore-bar-horizontal {
	display: inline-block;
	min-width:700px;
	max-width:700px;
	text-align: left;
	margin-left:0;
	margin-right:auto;
	float:left;
}

#explore-button-horizontal {
	padding-left:5px;
	padding-top:1px;
	display: inline-block;
	margin-left:5px;
	margin-right:0;
	float:right;
}

#azlist {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

div #myList-nav {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align:center;
}

#myList {
	width:auto;
	text-align:left;
	margin-left:0 auto;
	margin-right:0 auto;
	padding-top:0px;
	margin-top:0px;
	padding-left:0px;
	padding-right:0px;
	border-bottom:2px solid gray;
}

.event-item, .entity-item, .relationship-item {
	font-size: 14px;
	list-style-type: none;
	padding: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	font-family: 'Lucida Grande', Lucida, Arial, sans-serif;
}

.event-item:hover, .entity-item:hover, .relationship-item:hover{
	background-color:#c0c0c0;
	cursor:pointer;
}

.innerList {
	list-style-type: none;
	padding: 5px;
	font-family: 'Lucida Grande', Lucida, Arial, sans-serif;
}

.innerItem {
	font-size: 12px;
	list-style-type: none;
	padding: 5px;
	font-weight: bold;
	font-family: 'Lucida Grande', Lucida, Arial, sans-serif;
	display:none;
}

.innerItem:hover{
	background-color:#ffffff;
	cursor:pointer;
}

.selected {
	background-color:#505050;
	color:white;
}

.selected:hover {
	background-color:#787878;
	color:black;
}


.selectedInner {
	background-color:#d5d5d5;
	color:black;
}

.selectedInner:hover {
	background-color:#f5f5f5;
	color:black;
}

.item-name {
	display: inline-block;
	margin-left:0px;
	margin-right:auto;
}

.select-item {
	display: inline-block;
	margin-left:auto;
	margin-right:0px;
	float:right;
	cursor:pointer;
}

.select-item:hover {
	cursor:pointer;
}

#uml{
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.oclexp{
	margin-left:auto;
	margin-right:20px;
	float:right;
	margin-top:20px;
	text-align:left;
	font-family: "Courier New";
	font-size:13px;
}

#ocl {
    display: inline-block;
}

label{
	margin-right:0;
	margin-left:10px;
}
